body {
  margin: 0;
  font-family: 'Chivo', sans-serif;
  font-weight: 150;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#FAFAFA;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1.Logo {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 700;
  /* background-image: url('marble2.png'); */
  background-size: auto;
  min-height: 50px;
  margin: 0;
  border-bottom: 0.75px solid black;
}

#registerDiv {
  margin: auto;
  width: 50%;
  text-align: center;
}

#loginDiv {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
}

span.MuiButton-label {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  /* background-color: #EAE7DC; */
}

/* span.MuiButton-label:hover {
  background-color: #E98074;
} */

#Intro {
  margin: auto;
  width: 50%;
  /* padding: 10px; */
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
  text-align: center;
  /* background-image: url(/background.png); */
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* min-height: 200px; */
}

#footer {
  margin-top: 400rem;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Chivo', sans-serif;
  font-size: 12px;
  font-weight: 300;
  /* background-color: #C17C74; */
  /* color: white; */
  text-align: center;}
  .spacer{
      height:10rem;
  }

#toggle {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 0 0 40px 0;
}

#login {
  font-family: 'Chivo', sans-serif;
  font-weight: 800;
  font-style: bold;
}

#welcome {
  font-family: 'Chivo', sans-serif;
  font-weight: 800;
  font-style: bold;
}

/* span.MuiButton-label {
  font-family: 'Chivo', sans-serif;
  font-weight: 500;
  font-style: bold;
} */

p {
  font-family: 'Chivo', sans-serif;
  font-weight: 300;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
  /* background-color: #EAE7DC; */
  border-radius: 25px;

}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined:hover {
  background-color: #E98074;
}

input.MuiInputBase-input.MuiInput-input{
  font-family: 'Chivo', sans-serif;
  font-weight: 300  
}



